<form action="/_api/admin/security/passport-slack" method="post" class="form-horizontal passportStrategy" id="slackSetting" role="form"
    {% if isRestartingServerNeeded %}style="opacity: 0.4;"{% endif %}>
  <legend class="alert-anchor">{{ t("security_setting.OAuth.Slack.name") }} {{ t("security_setting.configuration") }}</legend>

  {% set nameForIsSlackEnabled = "settingForm[security:passport-slack:isEnabled]" %}
  {% set isSlackEnabled = settingForm['security:passport-slack:isEnabled'] %}
  {% set siteUrl = getConfig('crowi', 'app:siteUrl') || '[INVALID]' %}
  {% set callbackUrl = siteUrl + '/passport/slack/callback' %}

  <div class="form-group">
    <label for="{{nameForIsSlackEnabled}}" class="col-xs-3 control-label">{{ t("security_setting.OAuth.Slack.name") }}</label>
    <div class="col-xs-6">
      <div class="btn-group btn-toggle" data-toggle="buttons">
        <label class="btn btn-default btn-rounded btn-outline {% if isSlackEnabled %}active{% endif %}" data-active-class="primary">
          <input name="{{nameForIsSlackEnabled}}" value="true" type="radio"
              {% if true === isSlackEnabled %}checked{% endif %}> ON
        </label>
        <label class="btn btn-default btn-rounded btn-outline {% if !isSlackEnabled %}active{% endif %}" data-active-class="default">
          <input name="{{nameForIsSlackEnabled}}" value="false" type="radio"
              {% if !isSlackEnabled %}checked{% endif %}> OFF
        </label>
      </div>
    </div>
  </div>
  <fieldset id="passport-slack-hide-when-disabled" {%if !isSlackEnabled %}style="display: none;"{% endif %}>



    <div class="form-group">
      <label for="settingForm[security:passport-slack:consumerKey]" class="col-xs-3 control-label">{{ t("security_setting.clientID") }}</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" name="settingForm[security:passport-slack:consumerKey]" value="{{ settingForm['security:passport-slack:consumerKey'] || '' }}">
        <p class="help-block">
          <small>
                {{ t("security_setting.Use env var if empty", "OAUTH_SLACK_CONSUMER_KEY") }}
          </small>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="settingForm[security:passport-slack:consumerSecret]" class="col-xs-3 control-label">{{ t("security_setting.client_secret") }}</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" name="settingForm[security:passport-slack:consumerSecret]" value="{{ settingForm['security:passport-slack:consumerSecret'] || '' }}">
        <p class="help-block">
          <small>
             {{ t("security_setting.Use env var if empty", "OAUTH_SLACK_CONSUMER_SECRET") }}
          </small>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">{{ t("security_setting.callback_URL") }}</label>
      <div class="col-xs-6">
          <input class="form-control" type="text" value="{{ callbackUrl }}" readonly>
        <p class="help-block small">{{ t("security_setting.desc_of_callback_URL", 'OAuth') }}</p>
        {% if !getConfig('crowi', 'app:siteUrl') %}
        <div class="alert alert-danger">
          <i class="icon-exclamation"></i> {{ t("security_setting.alert_siteUrl_is_not_set", '<a href="/admin/app">' + t('App settings') + '<i class="icon-login"></i></a>') }}
        </div>
        {% endif %}
      </div>
    </div>


    <div class="form-group">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="checkbox checkbox-info">
          <input type="checkbox" id="bindByUserName-Slack" name="settingForm[security:passport-slack:isSameUsernameTreatedAsIdenticalUser]" value="1"
              {% if settingForm['security:passport-slack:isSameUsernameTreatedAsIdenticalUser'] %}checked{% endif %} />
          <label for="bindByUserName-Slack">
            {{ t("security_setting.Treat username matching as identical", "username") }}
          </label>
          <p class="help-block">
            <small>
              {{ t("security_setting.Treat username matching as identical_warn", "username") }}
            </small>
          </p>
        </div>
      </div>
    </div>

  </fieldset>

  <div class="form-group" id="btn-update">
    <div class="col-xs-offset-3 col-xs-6">
      <input type="hidden" name="_csrf" value="{{ csrf() }}">
      <button type="submit" class="btn btn-primary">{{ t('Update') }}</button>
    </div>
  </div>

</form>

{# Help Section #}
<hr>

<div style="min-height: 300px;">
  <h4>
    <i class="icon-question" aria-hidden="true"></i>
    <a href="#collapseHelpForSlackOauth" data-toggle="collapse">{{ t("security_setting.OAuth.how_to.slack") }}</a>
  </h4>
  <ol id="collapseHelpForSlackOauth" class="collapse">
    <li>{{ t("security_setting.OAuth.Slack.register_1", "https://apps.slack.com/", "Slack Application Management") }}</li>
    <li>{{ t("security_setting.OAuth.Slack.register_2") }}</li>
    <li>{{ t("security_setting.OAuth.Slack.register_3") }}</li>
    <li>{{ t("security_setting.OAuth.Slack.register_4", callbackUrl) }}</li>
  </ol>
</div>

<script>
  $('input[name="settingForm[security:passport-slack:isEnabled]"]').change(function() {
      const isEnabled = ($(this).val() === "true");

      if (isEnabled) {
        $('#passport-slack-hide-when-disabled').show(400);
      }
      else {
        $('#passport-slack-hide-when-disabled').hide(400);
      }
    });
</script>

